@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

.wrapper {
    width: 50%;
    margin: 6rem auto;
}

.word-section {
    padding: 2%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    margin-bottom: 2rem;
    background: #a7d0cd;
    font-size: 1.7rem;
}

.word {
    font-weight: 700;
}

.definition-section {
    display: flex;
    justify-content: space-between;
}

picture {
    display: block;
    min-width: 250px;
}

.definition {
    font-size: 1.2rem;
    margin-right: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transcription {
    font-family: 'Overpass Mono', monospace;
}