.welcome-wrapper {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    text-align: center;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4rem auto;
}

.message {
    margin: 1.5rem;
}

.button {
    width: 30%;
    margin: auto;
}